.future-predictions {
  margin-top: 40px;

  .day-predictions {
    margin: 10px;
    width: 120px;
    min-height: 160px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;

    .day-name {
      font-weight: 700;
      font-size: 18px;
    }

    .temperature-numbers {
      .min-temperature {
        color: #a0cbf9;
      }
    }
  }
}
