<div class="header-container">
  <div class="menu" fxLayout="row">
    <div class="title" fxLayout="column" fxLayoutAlign="center center">
      <span>Herolo Weather App</span>
    </div>
    <div fxFlex></div>
    <ul fxlayout="row" fxLayoutAlign="start center">
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li>
        <a routerLink="/favorites" routerLinkActive="active">Favorites</a>
      </li>
    </ul>
  </div>
</div>
