<div class="favorite-button-container">
  <div class="favorite-button">
    <button
      mat-icon-button
      color="accent"
      *ngIf="isCurrentCityInFavorites"
      (click)="onFavoriteButtonClick(false)"
    >
      <mat-icon>star</mat-icon>
    </button>
    <button
      mat-icon-button
      color="accent"
      *ngIf="!isCurrentCityInFavorites"
      (click)="onFavoriteButtonClick(true)"
    >
      <mat-icon>star_border</mat-icon>
    </button>

    <!-- <div>{{ isCurrentCityInFavorites }}</div> -->
  </div>
</div>
