<div
  class="search-bar-container"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <!-- <div>loading: {{ isLoading }}</div> -->
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input
        type="text"
        placeholder="Search city"
        aria-label="search city"
        matInput
        [formControl]="queryStringControl"
        [matAutocomplete]="auto"
      />
    </mat-form-field>
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="onCitySelected($event)"
      [displayWith]="displayFunction"
    >
      <mat-option *ngIf="isLoading" fxLayout="row" fxLayoutAlign="center center"
        ><mat-spinner diameter="20"></mat-spinner
      ></mat-option>
      <ng-container *ngIf="!isLoading">
        <mat-option *ngFor="let option of filteredOptions" [value]="option">
          {{ option?.LocalizedName }}
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </form>
</div>
