<div
  class="search-bar-container"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input
        type="text"
        placeholder="Search city"
        aria-label="search city"
        matInput
        [formControl]="queryStringControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="onCitySelected($event)"
        [displayWith]="displayFunction"
      >
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >
          {{ option.LocalizedName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
