.main-temperature {
  font-size: 52px;
  font-weight: 700;

  img {
    margin-left: -15px;
    height: 90px;
  }
}

.city-name {
  font-size: 22px;
  margin-bottom: 5px;
}

.current-weather-text {
  font-size: 14px;
}
